*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.container {
  width: 1158px;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
img {
  display: block;
}
h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* Header */
.header-section {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.logo-dark {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  width: 71px;
}
/* NAV */
.ul-header-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  display: block;
}

.ul-header-link:hover,
.ul-header-link:focus {
  color: #404bbf;
}

.ul-header-list {
  display: flex;
  gap: 40px;
}
/*  ADDRESS*/
.address {
  margin-left: auto;
  font-style: normal;
}

.ul-link-address {
  display: flex;
  gap: 40px;
}
.link-address-nomber,
.link-address-mail {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.link-address:hover,
.link-address:focus {
  color: #404bbf;
}
/* main */
.heropart {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(#2e2f42b2, #2e2f42b2),
    url(/images/hero/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title-h {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  color: #fff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
.buttonone:hover {
  background-color: #404bbf;
  cursor: pointer;
}
.buttonone:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* SEC */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-advantages {
  background-color: #fff;
  padding: 120px 0;
}
.ul-advantages {
  display: flex;
  gap: 24px;
}
.title-advantages {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text-advantages {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.li-advantages {
  flex-basis: calc((100% - 72px) / 4);
}
.wrapper {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
}
/* team */
.ourteam {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.ul-our-team {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;

  text-align: center;
}
.list-our-team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  align-items: center;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.ourteam-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.ourteam-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-team-words {
  padding: 32px 0;
}
.ul-social-li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-items {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.social-items:hover,
.social-items:focus {
  background-color: #404bbf;
}
.social-icon {
  fill: #fff;
}
/* OURPORTFOLIO */
.portfolio-wrapper:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.ourportfolio {
  padding: 120px 0;
}
.title-our-portfolio {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.ul-ourportfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.li-ourportfolio {
  width: calc((100% - 48px) / 3);
}
.ourportfolio-words {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.ourportfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.ourportfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.bestellers-wrapper {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  padding: 40px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  line-height: 1, 5;
  letter-spacing: 0.02em;
}
/* footer */
.logo-white {
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.footer .text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  width: 264px;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}
.ul-social-li-f {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
.box {
  display: flex;
  gap: 120px;
  padding-left: 156px;
}
.social-items-footer {
  width: 40px;
  height: 40px;
}
.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  color: #f4f4f4;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}
.footer-social-media {
  color: #fff;

  font-size: 16px;

  font-weight: 500;
  line-height: 24px;
}
